// 开关设置
//-----------------------------------------------------
$lte7: true !default; // 是否兼容ie6-7
// Color
// $color-primary: #3686DC;
$color-primary: #409EFF;
$color-red: #f56c6c;
$color-green: #67c23a;
$color-gray: #dcdfe6;
// $color-gray: #EBEEF5;